<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lsd.app.test.mapper.test.Test1MySQLMapper">

    <!-- property： 类的属性名     column：数据库的字段名 -->
    <resultMap type="com.lsd.app.test.pojo.Employees" id="baseMap">
        <result property="empNo" column="emp_no"/>
        <result property="birthDate" column="birth_date"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="gender" column="gender"/>
        <result property="hireDate" column="hire_date"/>
    </resultMap>

    <!--<select id="queryDataTest" resultType="com.lsd.com.lsd.com.lsd.com.lsd.test11.Employees">
        select  *  from employees order by hire_date desc
    </select>-->

    <select id="queryDataTest" resultMap="baseMap">
        select  *  from employees order by hire_date desc
    </select>
</mapper>
